# LPC11U6X series configuration options

# Copyright (c) 2020, Seagate
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_LPC546XX

rsource "Kconfig.defconfig.lp*"

config SOC_SERIES
	default "lpc546xx"

config NUM_IRQS
	# must be >= the highest interrupt number used
	default 40

if PINMUX

# The pinmux device must be initialized before all the other devices, including
# the clock control device which uses it.

config PINMUX_INIT_PRIORITY
	default 1

endif # PINMUX

config GPIO_MCUX_LPC
	default y
	depends on PINMUX

endif # SOC_SERIES_LPC546XX
