# LPC LPC11U6x MCU line

# Copyright (c) 2020, Seagate
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "LPC LPC546XX MCU Selection"
	depends on SOC_SERIES_LPC546XX

config SOC_LPC54628
	bool "SOC_LPC54628"
	select CPU_CORTEX_M4
	select CPU_CORTEX_M_HAS_DWT
	select PLATFORM_SPECIFIC_INIT
	select CLOCK_CONTROL

endchoice

if SOC_SERIES_LPC546XX

config SOC_PART_NUMBER_LPC54628ABCD
	bool

endif # SOC_SERIES_LPC546XX
