# LPC LPC11U6X MCU line

# Copyright (c) 2020, Seagate
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_LPC546XX
	bool "LPC LPC546XX Series MCU"
	select ARM
	select HAS_MCUX
	select HAS_MCUX_FLEXCOMM
	select CPU_HAS_FPU
	select HAS_MCUX_SYSCON
	select HAS_MCUX_PWM
	select HAS_MCUX_SCTIMER
	select SOC_FAMILY_LPC
	select CPU_CORTEX_M_HAS_SYSTICK
	help
	  Enable support for LPC LPC546XX MCU series
